<a href="https://colab.research.google.com/github/shirleymbeyu/moringa-ip-w3/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up the Worksapce

First I'll load all the python libraries I will or might use

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

Next I will load and read all the file/ data sets I will use

In [ ]:
#This table acts as a key to the daily sample datas that follow it:
CDR_D = pd.read_excel('CDR_description.xlsx')
CDR_D

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [ ]:
#samle data for day 1
day1 = 'http://bit.ly/TelecomDataset1'
df_day1 = pd.read_csv(day1)
df_day1.to_csv('first_day.csv')
df_day1 = pd.read_csv("first_day.csv")
df_day1[:5]

   Unnamed: 0 PRODUTC  VALUE  ... COUNTRY_B     CELL_ID     SITE_ID
0           0   Voice      0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1           1     sms      0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2           2     sms     25  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3           3   Voice     56  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4           4   Voice     14  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 11 columns]

In [ ]:
#sample for day 2
day2 = 'http://bit.ly/TelecomDataset2'
df_day2 = pd.read_csv(day2)
df_day2.to_csv('second_day.csv')
df_day2 = pd.read_csv("second_day.csv")
df_day2[:5]

   Unnamed: 0 PRODUCT  VALUE  ... COUNTRY_B     CELL_ID     SITE_ID
0           0     sms      0  ...     19e2e  +854AcBQT2  +854AcBQT2
1           1   Voice      0  ...     19e2e  +854AcBQT2  +854AcBQT2
2           2     sms      0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3           3   Voice     37  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4           4     sms     25  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 11 columns]

In [ ]:
#sample for day 3
day3 = 'http://bit.ly/TelecomDataset3'
df_day3 = pd.read_csv(day3)
df_day3.to_csv('third_day.csv')
df_day3 = pd.read_csv("third_day.csv")
df_day3[:5]

   Unnamed: 0 PRODUCT  VALUE  ... COUNTRY_B      CELLID     SIET_ID
0           0   Voice     61  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1           1     sms      0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2           2   Voice     10  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3           3     sms      0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4           4   Voice     22  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 11 columns]

In [ ]:
#Reading the geo description excel file
geo_D = pd.read_excel('cells_geo_description.xlsx')
geo_D

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [ ]:
df_geo = pd.read_csv('cells_geo.csv', sep=';')
df_geo

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

# Selecting my Data

In [ ]:
df_day1 = pd.read_csv('first_day.csv')
df_day1 = df_day1[['PRODUTC', 'VALUE', 'DATETIME', 'CELL_ID']]
df_day1.columns=['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ID']

df_day2 = pd.read_csv('second_day.csv')
df_day2 = df_day2[['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ID']]

df_day3 = pd.read_csv('third_day.csv')
df_day3 = df_day3[['PRODUCT', 'VALUE', 'DATE_TIME', 'CELLID']]
df_day3.columns = [['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ID']]

In [ ]:
main = pd.concat([df_day1, df_day2, df_day3 ], axis=0)
main

Merging the main data frame to the geo_cell data frame

In [ ]:
df_geo = pd.read_csv('cells_geo.csv', sep=';')
df_geo = df_geo[['VILLES','CELL_ID']]
working = main.merge(df_geo, how='left', on='CELL_ID')
working[working.VALUE != '0']

In [ ]:
#data_frames = [df_day1, df_day2, df_day3]

I will select the specific columns I need in my data anlysis and also drop duplicates.

In [ ]:
merge['VILLES'].CELL_ID_counts()

In [ ]:
#removing any rows with nan values
df_day1.isnull()
df_day1_Nans=df_day1.dropna()
df_day1_Nans

#I'll drop the rows whose values are zero, meaning there was no billing price.
df_day1[df_day1.VALUE != '0']

In [ ]:
df_day2 = pd.read_csv('second_day.csv')
df_day2 = df_day2[['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ID']]
df_day2.drop_duplicates(['CELL_ID'])

In [ ]:
df_day3 = pd.read_csv('third_day.csv')
df_day3 = df_day3[['PRODUCT', 'VALUE', 'DATE_TIME', 'CELLID']]
df_day3.columns = [['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ID']]
df_day3.drop_duplicates(['CELLID'])

In [ ]:
df_day2 = pd.read_csv('second_day.csv')
df_day2 = df_day2[['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ID']]
df_day2

merge1=  pd.concat([df_day1, df_day2], axis=1)
merge1 =

The most used city

In [ ]:
df_geo = pd.read_csv('cells_geo.csv', sep=';')
cities = df_geo['CELL_ID'].groupby(df_geo['VILLES'])
cities.count()

VILLES
ABENGOUROU        21
ABOBO            255
ABOISSO           18
ABOISSO COMOE      3
ABONGOUA           3
                ...
ZATTA              3
ZIKISSO            4
ZON-HOUNIEN        3
ZOUKOUGBEU         3
ZUENOULA           9
Name: CELL_ID, Length: 504, dtype: int64